= form_for @event, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :customer_id, :class => 'control-label'
    .controls
      = f.text_field :customer_id, :class => 'text_field'
  .control-group
    = f.label :start_datetime, :class => 'control-label'
    .controls
      = f.text_field :start_datetime, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn'
